//mixing of media queries
@mixin breakpoint($screen) {
    @media (max-width: $screen +'px') {
        @content;
    }
}


.brand-logos {
    display: flex;
    border: 1px solid grey;
    margin: 15px 10px;
    overflow: hidden;
    justify-content: center;
    img { width: 100%; }
    @include breakpoint(900) {
        margin: 10px 6px;
    }
}

//identity-section
section.identity-section {
    &:nth-of-type(1), &:nth-of-type(2) { width: 64.5%; }
    &:nth-of-type(3), &:nth-of-type(4) , &:nth-of-type(5), &:nth-of-type(6){ width: 30.5%; }
    &:nth-of-type(7) {
        border: none;
        margin: 0;
        width: 100%;
        height: auto !important;
        @include breakpoint(768) {
            flex-direction: column;
        }
        .left {
            width: 30.5%;
            margin: 15px 10px;
            @include breakpoint(768) { width: 98%; margin: 15px auto;}
            img { 
                border: 1px solid grey; 
                width: 100%; 
                @include breakpoint(768) {
                    display: inline-block;
                    width: 46%;
                }
                &:nth-child(1) { margin-bottom: 30px;
                    @include breakpoint(768) {
                        margin: 0 10px;
                    }
                    @include breakpoint(480) { margin: 0 7px;}
                    @include breakpoint(380) { margin: 0 4px;}
                }
                &:nth-child(2) {
                    @include breakpoint(768) {
                        float: right;
                        margin: 0 10px;
                    }
                    @include breakpoint(480) { margin: 0 7px;}
                    @include breakpoint(380) { margin: 0 4px;}
                }
        }
        }
        .right {
            margin-left: 10px;
            width: 63.5%;
            margin: 15px 10px;
            margin-left: 20px;
            @include breakpoint(768) { width: 96%; margin:15px auto;}
            img {  border: 1px solid grey; width: 100% !important; }
        }
    }
    @include breakpoint(768) {
        &:nth-of-type(1) {
            img { object-fit: contain;}
        }
        &:nth-of-type(1), &:nth-of-type(3), &:nth-of-type(4) , &:nth-of-type(5), &:nth-of-type(6) { width: 45%;}
        &:nth-of-type(2) { width: 95%; }
    }
}

//mobile-section
section.mobile-section {
    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7) { width: 30.5%;}
    &:nth-of-type(3) { width: 64.5%; }
    &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7), &:nth-of-type(8) {height: auto !important;}
    @include breakpoint(768) {
        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7), &:nth-of-type(8) { width: 45%;}
        &:nth-of-type(4) { width: 95%; }
    }
}

//web-section
section.web-section {
    position: relative;
    a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    &:nth-of-type(1), &:nth-of-type(3), &:nth-of-type(8) { width: 64.5%; }
    &:nth-of-type(2), &:nth-of-type(4) , &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7){ width: 30.5%; }
    &:nth-of-type(7), &:nth-of-type(8) { height: auto !important; }
    @include breakpoint(768) {
        &:nth-of-type(1), &:nth-of-type(4) , &:nth-of-type(5){ width: 45%;}
        &:nth-of-type(2), &:nth-of-type(3){ width: 94.5%; }
        &:nth-of-type(6) { width: 30.5%; height: auto !important;}
        &:nth-of-type(7) { width: 60.5%; }
    }
}

//brand-Section
section.brand-section {
    &:nth-of-type(1) { width: 64.5%; }
    &:nth-of-type(2) {
        width: 98%;
        height: auto !important;
        border: none;
        margin: 0 auto;
        .left {
            width: 64%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            img { 
                width: 46%; border: 1px solid grey;
                &:nth-of-type(1), &:nth-of-type(3) { margin: 15px 25px 15px 0;}
                &:nth-of-type(2), &:nth-of-type(4) { margin: 15px 0px;}
            }
        }
        .right {
            width: 35%;
            img { width: 100%; object-fit: contain; border: 1px solid grey; margin: 15px 0px;}
        }
    }
    @include breakpoint(768) {
        &:nth-of-type(1) { width: 45%;}
        &:nth-of-type(2) { 
            width: 95%;  height: auto !important;
            flex-direction: column;
            img { width: 100%; margin: 15px 0; border: 1px solid grey; }
            .left {
                width: 35.5%;
                img {width: 95%; margin: 15px 20px 15px 0px !important;}
            }
            .right { width: 64.5%;
                img { margin: 15px 0px;}
            }
        }
    }
    @include breakpoint(600) {
        &:nth-of-type(2) {
            img { margin: 5px 0;}
            .left { img{margin: 5px 10px 5px 0px!important }}
            .right { img {margin: 5px 0;}}
        }
    }
}

section.space-section {
    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(7) {width: 30.5%}
    &:nth-of-type(3), &:nth-of-type(6), &:nth-of-type(8) { width: 63.5%; }
    &:nth-of-type(7), &:nth-of-type(8) { height: auto!important;}
    @include breakpoint(768) {
        &:nth-of-type(1) {width: 45%;}
        &:nth-of-type(2) {
            border: none;
            width: 100%;
            justify-content: space-around;
            height: auto !important;
            .left {
                width: 37%;
                img { height: auto !important; border: 1px solid grey; margin: 10px 0;}
            }
            .right {
                width: 55%;
                img { border: 1px solid grey; margin: 10px 0;}
            } 
        }
        &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) { width: 94.5%;}
        &:nth-of-type(5) {height: auto!important;}
    }
}


section.product-section {
    &:nth-of-type(1), &:nth-of-type(2) { width: 30.5% }
    &:nth-of-type(3) { 
        border: none;
        width: 100%;
        height: auto !important;
        justify-content: space-between;
        .left {
            width: 31%;
            margin: 15px 10px;
            img { height: auto !important; border: 1px solid grey;}
        }
        .right {
            width: 66%;
            .d-flex {
                justify-content: space-between;
                img { width: 46%; margin: 15px 10px;}
            }
            img {
                border: 1px solid grey;
                margin: 15px 10px;
                width: 97%;
            }
        }
    }
    @include breakpoint(768) {
        &:nth-of-type(1) { width: 45%; }
        &:nth-of-type(2) { width: 94.5%; }
        &:nth-of-type(3) {
            .left { width: 58%; margin: 10px}
            .right { 
                width: 36%; 
                margin: 10px;
                img { width: 100%; margin: 0;&:nth-of-type(2) { margin: 25px 0;} }
            }
        }

    }
    @include breakpoint(480) {
        &:nth-of-type(3) {
            .left { margin: 6px}
            .right {
                margin: 6px;
                img { &:nth-of-type(2) { margin: 15px 0;} }
            }
        }
    }
    @include breakpoint(375) {
        &:nth-of-type(3) {
            .left { margin: 0px}
            .right {
                margin: 2px;
                img { &:nth-of-type(2) { margin: 9px 0;} }
            }
        }
    }
}

section.event-section, section.content-section {
    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(5) { width: 30.5% }
    &:nth-of-type(3), &:nth-of-type(6) { width: 64.5%; }
    @include breakpoint(768) {
         &:nth-of-type(1), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(6) { width: 45%;} 
         &:nth-of-type(2), &:nth-of-type(5) { width: 94.5%;}
    }
}
