.brand-include {
    display: flex;
    border: 1px solid grey;
    margin: 10px;
    overflow: hidden;
    justify-content: center;
    img { height: 100%;}
    &:nth-child(2) {  flex-grow: 1; }
    &:nth-child(3) { width: 65%; }
    &:nth-child(4) {  width: 30%; }
    &:nth-child(5) , &:nth-child(6), &:nth-child(7){ width: 30%; }
    &:nth-child(8) {
        height: 200%;
        float: right;
    }
}