@media (max-width: 1020px) {
  h1 {
    font-size: 36px; } }
@media (max-width: 900px) {
  h1 {
    font-size: 34px; } }

@media (max-width: 1020px) {
  h2 {
    font-size: 28px; } }
@media (max-width: 900px) {
  h2 {
    font-size: 26px; } }

@media (max-width: 1020px) {
  h3 {
    font-size: 24px; } }
@media (max-width: 900px) {
  h3 {
    font-size: 22px; } }

@media (max-width: 1020px) {
  h4 {
    font-size: 21px; } }
@media (max-width: 900px) {
  h4 {
    font-size: 19px; } }

html {
  scroll-behavior: smooth; }

.font-mont {
  font-family: "Montserrat", sans-serif; }

.font-oswald {
  font-family: "Oswald", sans-serif; }

.light {
  font-weight: 300; }

.regular {
  font-weight: 400; }

.semi-bold {
  font-weight: 600; }

.bold {
  font-weight: 700; }

* {
  letter-spacing: 1px; }

h1 {
  color: #636669; }

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    scale: 0; }
  100% {
    opacity: 1;
    scale: 1.3; } }
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000; }
  .header #logo-small {
    justify-content: flex-start; }
    .header #logo-small img {
      width: 15%; }
    .header #logo-small .menu {
      right: 5%; }
  .header .logo {
    justify-content: center; }
    .header .logo img {
      transition: all 200ms ease-in-out;
      width: 45%; }
    .header .logo .shadow {
      transition: all ease-in-out;
      box-shadow: -12px -2px 0px 0px #0000002e !important; }
    .header .logo .menu {
      position: absolute;
      transition: all 200ms ease-in-out;
      right: 10%;
      top: 0px;
      padding-left: 30px;
      padding-top: 20px;
      padding-right: 50px;
      background-color: rgba(255, 255, 255, 0.733); }
      @media (max-width: 1020px) {
        .header .logo .menu {
          right: 5% !important; } }
      .header .logo .menu #hamburger-icon {
        float: right; }
      .header .logo .menu ul {
        display: none;
        margin-top: 30px;
        padding: 0px;
        list-style: none; }
        .header .logo .menu ul li {
          margin: 15px 0; }
          .header .logo .menu ul li a {
            font-weight: 600;
            letter-spacing: normal;
            color: black;
            opacity: 0.7;
            text-decoration: none; }

/*initiate*/
.initiate {
  padding: 5% 0;
  background-color: #1d9cdf; }
  .initiate h1,
  .initiate h3 {
    color: white; }
  .initiate .inner-border {
    background-color: #1891d8;
    border-radius: 100%;
    flex-direction: column;
    cursor: pointer;
    height: 190px;
    width: 190px;
    justify-content: center;
    transition: all 200ms ease-in-out; }
    @media (max-width: 900px) {
      .initiate .inner-border {
        height: 150px;
        width: 150px; } }
    .initiate .inner-border:hover {
      transform: scale(1.04) !important;
      transition: all 200ms ease-in-out;
      border-right: 1px solid white;
      border-left: 1px solid white; }
    .initiate .inner-border:nth-child(1) img {
      height: 30%; }
    .initiate .inner-border img {
      height: 35%; }
    .initiate .inner-border h3 {
      color: white;
      margin-top: 10px;
      font-weight: 600; }

.services {
  margin-bottom: 30px;
  padding: 5% 10%; }
  @media (max-width: 1200px) {
    .services {
      padding: 5% 5%; } }
  .services .services-grid {
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .services .services-grid .grid-display {
      display: flex !important; }
    .services .services-grid .grid-section {
      width: 30%;
      display: none;
      cursor: pointer;
      margin: 15px 10px; }
      @media (max-width: 768px) {
        .services .services-grid .grid-section {
          width: 45%; } }
      .services .services-grid .grid-section .color1 {
        background-color: #46c8c8; }
      .services .services-grid .grid-section .color2 {
        background-color: #c4abd3; }
      .services .services-grid .grid-section .color3 {
        background-color: #f6b37c; }
      .services .services-grid .grid-section .color4 {
        background-color: #e3cbc7; }
      .services .services-grid .grid-section .color5 {
        background-color: #c3dbe7; }
      .services .services-grid .grid-section .color6 {
        background-color: #cac6c3; }
      .services .services-grid .grid-section .color7 {
        background-color: #d5d4a4; }
      .services .services-grid .grid-section .color8 {
        background-color: #e7abab; }
      .services .services-grid .grid-section .color9 {
        background-color: #e3dbb7; }
      .services .services-grid .grid-section .grid-inner {
        position: relative;
        display: table;
        width: 100%;
        padding-bottom: 12px; }
        .services .services-grid .grid-section .grid-inner img {
          opacity: 0.5;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -60%); }
          @media (max-width: 1020px) {
            .services .services-grid .grid-section .grid-inner img {
              height: 40%; } }
        .services .services-grid .grid-section .grid-inner h1 {
          display: none;
          transition: 300ms ease-in-out;
          position: absolute;
          right: 10px;
          bottom: 0px;
          opacity: 0;
          color: white; }
        .services .services-grid .grid-section .grid-inner .text {
          display: table-cell;
          vertical-align: bottom; }
        .services .services-grid .grid-section .grid-inner h2 {
          color: white;
          transition: 300ms ease-in-out; }
      .services .services-grid .grid-section:hover img {
        opacity: 1; }
      .services .services-grid .grid-section:hover h2 {
        color: black; }
      .services .services-grid .grid-section:hover h1 {
        display: block;
        opacity: 0.7; }
      .services .services-grid .grid-section:hover .grid-inner {
        box-shadow: inset -4px 2px 20px 0px rgba(128, 128, 128, 0.705); }

.about {
  padding: 5% 12%;
  background-color: #f6f6f6; }
  @media (max-width: 1200px) {
    .about {
      padding: 5% 5%; } }
  .about h4 {
    margin-top: 20px; }
  .about h4,
  .about h5 {
    opacity: 0.7;
    word-wrap: break-word; }
  .about .about-content {
    margin-top: 20px; }

.team {
  padding: 5% 20%; }
  @media (max-width: 1200px) {
    .team {
      padding: 5% 15%; } }
  @media (max-width: 1020px) {
    .team {
      padding: 5% 10%; } }
  .team .team-people {
    flex-wrap: wrap;
    position: relative;
    z-index: 0; }
    .team .team-people .person {
      width: 24%;
      margin-top: 40px;
      cursor: pointer; }
      .team .team-people .person:hover:nth-child(1) .content, .team .team-people .person:hover:nth-child(2) .content, .team .team-people .person:hover:nth-child(3) .content, .team .team-people .person:hover:nth-child(4) .content {
        top: 50%; }
      .team .team-people .person:hover:nth-child(5) .content, .team .team-people .person:hover:nth-child(6) .content, .team .team-people .person:hover:nth-child(7) .content, .team .team-people .person:hover:nth-child(8) .content {
        top: 100%; }
      .team .team-people .person:hover .content {
        display: block;
        z-index: 2;
        transition: all 300ms ease-in-out; }
      .team .team-people .person:hover img {
        filter: none; }
      .team .team-people .person:hover .name {
        background-color: #1d9cdf;
        color: white;
        margin: 0;
        padding: 5px 15px;
        position: absolute; }
      .team .team-people .person img {
        filter: grayscale(1);
        transition: 300ms ease-in-out;
        position: relative;
        left: 50%;
        transform: translateX(-50%); }
        @media (max-width: 900px) {
          .team .team-people .person img {
            width: 80%; } }
      .team .team-people .person .content {
        position: absolute;
        padding: 5%;
        display: none;
        z-index: 1000;
        left: 50%;
        transition: all 300ms ease-in-out;
        transform: translateX(-50%);
        width: 100%;
        margin: 0 auto;
        background-color: white;
        border: 1px solid #8d8d8d; }
        .team .team-people .person .content h4 {
          color: #1d9cdf;
          margin-bottom: 20px; }

.monkey-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/monkey.jpg");
  background-size: contain;
  background-repeat: no-repeat; }
  .monkey-banner h1:nth-child(2) {
    color: white; }
  .monkey-banner img {
    display: none;
    width: 100%; }

.clients {
  padding: 5% 10%;
  background-color: #f6f6f6; }
  @media (max-width: 1200px) {
    .clients {
      padding: 5% 5%; } }
  .clients .views {
    color: #5f5f5f;
    border-top: 1px solid black;
    padding-top: 40px; }
  .clients .client-swiper {
    width: 100%;
    padding: 40px 0px;
    margin-top: 20px; }
    .clients .client-swiper .swiper-slide img {
      position: relative;
      width: 60%;
      left: 50%;
      transform: translateX(-50%); }
    .clients .client-swiper .swiper-button-next,
    .clients .client-swiper .swiper-button-prev {
      height: 30px;
      width: 30px;
      background-color: white;
      border-radius: 100%; }
      .clients .client-swiper .swiper-button-next:after,
      .clients .client-swiper .swiper-button-prev:after {
        font-size: 20px;
        font-weight: bold; }
  .clients .client-view-swiper {
    width: 100%;
    margin-top: 10px; }
    .clients .client-view-swiper .client-slide {
      justify-content: center; }
      .clients .client-view-swiper .client-slide .profile {
        margin-right: 15px;
        height: 80px;
        width: 80px;
        border-radius: 100%;
        background-color: grey; }
  .clients h4 {
    color: #636669; }
    .clients h4 span {
      color: #f41824; }

.contact {
  padding: 5% 10%; }
  @media (max-width: 1200px) {
    .contact {
      padding: 5% 5%; } }
  .contact a {
    margin: 0;
    color: #1d9cdf; }
  .contact form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact form div {
      width: 70%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px; }
      .contact form div input {
        border: none;
        border-bottom: 1px solid #1d9cdf;
        width: 92%; }
      .contact form div label {
        margin: 0; }
    .contact form button {
      margin-top: 20px;
      border: 1px solid #1d9cdf;
      border-radius: 50px;
      padding: 5px 30px;
      color: #1d9cdf;
      background-color: transparent;
      position: relative;
      z-index: 2;
      transition: all 0.3s; }
      .contact form button:hover {
        color: white; }
      .contact form button:hover::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 50px;
        background-color: #1d9cdf;
        animation-name: slideInFromLeft;
        animation-duration: 1s;
        scale: 1.3;
        transition: 100ms ease-out;
        z-index: -1; }

.social {
  padding: 5% 10%;
  background-color: #f6f6f6; }
  @media (max-width: 1200px) {
    .social {
      padding: 5% 5%; } }

footer {
  background-color: #5c5c5c;
  padding: 5% 10%; }
  @media (max-width: 1200px) {
    footer {
      padding: 5% 5%; } }
  footer .blue {
    color: #1d9cdf; }
  footer span {
    font-size: 13px; }
  footer .address,
  footer .follow {
    word-wrap: break-word;
    flex-direction: column;
    justify-content: space-between; }
    footer .address .blue,
    footer .follow .blue {
      color: #1d9cdf; }
    footer .address span,
    footer .follow span {
      color: white; }
  @media (max-width: 768px) {
    footer .follow {
      margin-top: 20px; } }
  footer .follow input {
    border-radius: 50px;
    padding: 5px;
    border-color: transparent; }
  footer .follow input[type="text"] {
    text-align: right; }
  @media (max-width: 768px) {
    footer .site-map {
      margin-top: 20px; } }
  footer .site-map ul {
    list-style: none;
    padding: 0px;
    color: white; }

/*# sourceMappingURL=style.css.map */
