.font-mont {
  font-family: 'Montserrat', sans-serif; }

.font-oswald {
  font-family: 'Oswald', sans-serif; }

.light {
  font-weight: 300; }

.regular {
  font-weight: 400; }

.semi-bold {
  font-weight: 600; }

.bold {
  font-weight: 700; }

* {
  letter-spacing: 1px; }

h1 {
  color: #636669; }

.logo img {
  width: 35%; }

/*initiate*/
.initiate {
  background-color: #1d9cdf; }
  .initiate h1, .initiate h3 {
    color: white; }
  .initiate .inner-border {
    background-color: #1891d8;
    border-radius: 100%;
    flex-direction: column;
    cursor: pointer;
    height: 180px;
    width: 180px;
    justify-content: center; }
    .initiate .inner-border:nth-child(1) img {
      height: 30%; }
    .initiate .inner-border img {
      height: 35%; }
    .initiate .inner-border h3 {
      color: white;
      margin-top: 10px;
      font-weight: 600; }

.services {
  margin-bottom: 30px;
  padding: 5% 10%; }
  .services .services-grid {
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .services .services-grid .grid-display {
      display: flex !important; }
    .services .services-grid .grid-section {
      width: 30%;
      display: none;
      cursor: pointer;
      margin: 10px 10px; }
      .services .services-grid .grid-section .color1 {
        background-color: #46c8c8; }
      .services .services-grid .grid-section .color2 {
        background-color: #c4abd3; }
      .services .services-grid .grid-section .color3 {
        background-color: #f6b37c; }
      .services .services-grid .grid-section .color4 {
        background-color: #e3cbc7; }
      .services .services-grid .grid-section .color5 {
        background-color: #c3dbe7; }
      .services .services-grid .grid-section .color6 {
        background-color: #cac6c3; }
      .services .services-grid .grid-section .color7 {
        background-color: #d5d4a4; }
      .services .services-grid .grid-section .color8 {
        background-color: #e7abab; }
      .services .services-grid .grid-section .color9 {
        background-color: #e3dbb7; }
      .services .services-grid .grid-section .grid-inner {
        position: relative;
        display: table;
        width: 100%;
        padding-bottom: 12px; }
        .services .services-grid .grid-section .grid-inner img {
          opacity: 0.5;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -60%); }
        .services .services-grid .grid-section .grid-inner h1 {
          display: none;
          transition: 300ms ease-in-out;
          position: absolute;
          right: 10px;
          bottom: 0px;
          opacity: 0;
          color: white; }
        .services .services-grid .grid-section .grid-inner .text {
          display: table-cell;
          vertical-align: bottom; }
        .services .services-grid .grid-section .grid-inner h2 {
          color: white;
          transition: 300ms ease-in-out; }
      .services .services-grid .grid-section:hover img {
        opacity: 1; }
      .services .services-grid .grid-section:hover h2 {
        color: black; }
      .services .services-grid .grid-section:hover h1 {
        display: block;
        opacity: 0.7; }
      .services .services-grid .grid-section:hover .grid-inner {
        box-shadow: inset -4px 2px 20px 0px rgba(128, 128, 128, 0.705); }

.about {
  padding: 5% 10%;
  background-color: #f6f6f6; }
  .about h4 {
    margin-top: 20px; }
  .about h4, .about h5 {
    opacity: 0.7; }
  .about .about-content {
    margin-top: 20px; }

.team {
  padding: 10% 20%; }
  .team .team-people {
    flex-wrap: wrap;
    position: relative;
    z-index: 0; }
    .team .team-people .person {
      width: 24%;
      margin-top: 40px;
      cursor: pointer; }
      .team .team-people .person:hover .content {
        display: block;
        z-index: 2; }
      .team .team-people .person:hover img {
        filter: none; }
      .team .team-people .person:hover .name {
        background-color: #1d9cdf;
        color: white;
        margin: 0;
        padding: 5px 15px; }
      .team .team-people .person img {
        filter: grayscale(1);
        transition: 300ms ease-in-out;
        width: 75%;
        position: relative;
        left: 50%;
        transform: translateX(-50%); }
      .team .team-people .person .content {
        position: absolute;
        padding: 5%;
        display: none;
        z-index: 1000;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        margin: 0 auto;
        background-color: white;
        border: 1px solid #8d8d8d; }
        .team .team-people .person .content h4 {
          color: #1d9cdf;
          margin-bottom: 20px; }

.monkey-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/monkey.jpg"); }
  .monkey-banner h1:nth-child(2) {
    color: white; }
  .monkey-banner img {
    display: none; }

.clients {
  padding: 5% 10%;
  background-color: #f6f6f6; }
  .clients .views {
    color: #5f5f5f;
    border-top: 1px solid black;
    padding-top: 40px; }
  .clients .client-swiper {
    width: 100%;
    padding: 40px 0px;
    margin-top: 20px; }
    .clients .client-swiper .swiper-slide img {
      position: relative;
      width: 60%;
      left: 50%;
      transform: translateX(-50%); }
    .clients .client-swiper .swiper-button-next, .clients .client-swiper .swiper-button-prev {
      height: 30px;
      width: 30px;
      background-color: white;
      border-radius: 100%; }
      .clients .client-swiper .swiper-button-next:after, .clients .client-swiper .swiper-button-prev:after {
        font-size: 20px;
        font-weight: bold; }
  .clients .client-view-swiper {
    width: 100%;
    margin-top: 10px; }
    .clients .client-view-swiper .client-slide {
      justify-content: center; }
      .clients .client-view-swiper .client-slide .profile {
        margin-right: 15px;
        height: 80px;
        width: 80px;
        border-radius: 100%;
        background-color: grey; }
  .clients h4 {
    color: #636669; }
    .clients h4 span {
      color: #f41824; }

.contact {
  padding: 5% 10%; }
  .contact form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact form div {
      width: 70%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px; }
      .contact form div input {
        border: none;
        border-bottom: 1px solid #1d9cdf;
        width: 92%; }
      .contact form div label {
        margin: 0; }
    .contact form button {
      margin-top: 20px;
      border: 1px solid #1d9cdf;
      border-radius: 50px;
      padding: 5px 30px;
      color: #1d9cdf;
      background-color: transparent; }

.social {
  padding: 5% 10%;
  background-color: #f6f6f6; }

footer {
  background-color: #5c5c5c;
  padding: 5% 10%; }
  footer .blue {
    color: #1d9cdf; }
  footer span {
    font-size: 13px; }
  footer .address, footer .follow {
    flex-direction: column;
    justify-content: space-between; }
    footer .address .blue, footer .follow .blue {
      color: #1d9cdf; }
    footer .address span, footer .follow span {
      color: white; }
  footer .follow input {
    border-radius: 50px;
    padding: 5px 0 5px 0;
    border-color: transparent; }
  footer .site-map ul {
    list-style: none;
    padding: 0px;
    color: white; }

/*# sourceMappingURL=style.css.map */
