//mixing for mediaqueries
@mixin breakpoint($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
 }


 // h tags and p tags media queries
 h1 {
     @include breakpoint(1020) { font-size: 36px; }
     @include breakpoint(900) {font-size: 34px; }
     @include breakpoint(786) {font-size: 30px; }
     @include breakpoint(570) {font-size: 26px; }
     @include breakpoint(480) {font-size: 22px; }
     @include breakpoint(420) {font-size: 20px; }
 }
 h2 {
     @include breakpoint(1020) { font-size: 28px; }
     @include breakpoint(900) { font-size: 26px; }
     @include breakpoint(786) { font-size: 22px; }
     @include breakpoint(570) {font-size: 20px; }
     @include breakpoint(480) {font-size: 18px; }
 }
 h3 {
     @include breakpoint(1020) { font-size: 24px; }
     @include breakpoint(900) { font-size: 22px; }
     @include breakpoint(786) { font-size: 18px; }
     @include breakpoint(570) {font-size: 16px; }
     @include breakpoint(480) {font-size: 14px; }
 }
 h4 {
     @include breakpoint(1020) { font-size: 21px; }
     @include breakpoint(900) { font-size: 19px; }
     @include breakpoint(786) { font-size: 15px; }
     @include breakpoint(570) {font-size: 13px; }
 }
 h5 {
    @include breakpoint(786) { font-size: 14px; }
    @include breakpoint(570) {font-size: 12px; }
 }

 html {
     scroll-behavior: smooth;
 }



//font-styles and weights
.font-mont {
    font-family: "Montserrat", sans-serif;
}
.font-oswald {
    font-family: "Oswald", sans-serif;
}
.light {
    font-weight: 300;
}
.regular {
    font-weight: 400;
}
.semi-bold {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}

* {
    letter-spacing: 1px;
}
h1 {
    color: #636669;
}

// Sliding animation
@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        scale: 0;
    }
    100% {
        opacity: 1;
        scale: 1.3;
    }
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    #logo-small {
        justify-content: flex-start;
        img { width: 15%;}
        .menu { right: 5%;}
    }
    .logo {
        justify-content: center;
        @include breakpoint(600) {justify-content: flex-start;}
        img {
            transition: all 200ms ease-in-out;
            width: 45%;
        }
        .shadow {
            transition: all ease-in-out ;
            box-shadow: -12px -2px 0px 0px #0000002e !important;}
        .menu {
            position: absolute;
            transition: all 200ms ease-in-out;
            right: 10%;
            top: 0px;
            padding-left: 30px;
            padding-top: 20px;
            padding-right: 50px;
            background-color: rgba(255, 255, 255, 0.733);
            @include breakpoint(1020) { right: 5% !important;}
            @include breakpoint(768) {right: 2% !important; padding-right: 20px;}
            @include breakpoint(480) {right: 0% !important; padding-right: 10px;}
            @include breakpoint(420) {padding-top: 10px;}
            #hamburger-icon {
                float: right;
            }
            ul {
                display: none;
                margin-top: 30px;
                padding: 0px;
                list-style: none;
                li{
                    margin: 15px 0;
                    a {
                        font-weight: 600;
                        letter-spacing: normal;
                        color: black;
                        opacity: 0.7;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

/*initiate*/
.initiate {
    padding: 5% 0;
    background-color: #1d9cdf;
    @include breakpoint(600) { padding: 5%;}
    h1,
    h3 {
        color: white;
    }
    .inner-border {
        background-color: #1891d8;
        border-radius: 100%;
        flex-direction: column;
        cursor: pointer;
        height: 190px;
        width: 190px;
        justify-content: center;
        transition: all 200ms ease-in-out;
        @include breakpoint(900) {
            height: 150px;
            width: 150px;
        }
        @include breakpoint(600) {
            height: 120px;
            width: 120px;
        }
        @include breakpoint(480) {
            height: 100px;
            width: 100px;
        }
        @include breakpoint(420) {
            height: 84px;
            width: 84px;
        }
        &:hover {
            transform: scale(1.04) !important;
            transition: all 200ms ease-in-out;
            border-right: 1px solid white;
            border-left: 1px solid white;
        }
        &:nth-child(1) {
            img {
                height: 30%;
            }
        }
        img {
            height: 35%;
        }
        h3 {
            color: white;
            margin-top: 10px;
            font-weight: 600;
        }
    }
}

//What we do section
.services {
    margin-bottom: 30px;
    padding: 5% 10%;
    @include breakpoint(1200) {  padding: 5%; }
    .back-btn {
        display: none;
        top: 50%;
        left: 50px;
        z-index: 1000;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 2px;
        padding: 5px 8px;
        @include breakpoint(1020) { left: 0px; }
        @include breakpoint(475) { padding: 2px 5px; font-size: 12px;}
    }
    .services-grid {
        flex-wrap: wrap;
        justify-content: space-evenly;
        .grid-display {
            display: flex !important;
        }
        .grid-section {
            width: 30%;
            display: none;
            cursor: pointer;
            margin: 15px 10px;
            @include breakpoint(768) {
                width: 45%;
            }
            @include breakpoint(570) { margin: 10px 5px; }
            .color1 {
                background-color: #46c8c8;
            }
            .color2 {
                background-color: #c4abd3;
            }
            .color3 {
                background-color: #f6b37c;
            }
            .color4 {
                background-color: #e3cbc7;
            }
            .color5 {
                background-color: #c3dbe7;
            }
            .color6 {
                background-color: #cac6c3;
            }
            .color7 {
                background-color: #d5d4a4;
            }
            .color8 {
                background-color: #e7abab;
            }
            .color9 {
                background-color: #e3dbb7;
            }
            .grid-inner {
                position: relative;
                display: table;
                width: 100%;
                padding-bottom: 12px;
                @include breakpoint(600) { padding-bottom: 0px; }
                img {
                    opacity: 0.5;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -60%);
                    @include breakpoint(1020) {  height: 40%;  }
                    @include breakpoint(480) {  transform: translate(-50%, -75%);  }
                }
                h1 {
                    display: none;
                    transition: 300ms ease-in-out;
                    position: absolute;
                    right: 10px;
                    bottom: 0px;
                    opacity: 0;
                    color: white;
                }
                .text {
                    display: table-cell;
                    vertical-align: bottom;
                }
                h2 {
                    color: white;
                    transition: 300ms ease-in-out;
                    @include breakpoint(414) { font-size: 14px;}
                    @include breakpoint(375) {font-size: 12px;}
                }
                h4 { 
                    @include breakpoint(414) { font-size: 11px;}
                    @include breakpoint(375) { font-size: 9px; margin-bottom: 3px;}
                }
            }
            &:hover {
                img {
                    opacity: 1;
                }
                h2 {
                    color: black;
                }
                h1 {
                    display: block;
                    opacity: 0.7;
                }
                .grid-inner {
                    box-shadow: inset -4px 2px 20px 0px rgba(128, 128, 128, 0.705);
                }
            }
        }
    }
}

//About section
.about {
    padding: 5% 12%;
    background-color: #f6f6f6;
    @include breakpoint(1200) { padding: 5%; }
    @include breakpoint(768) { padding: 5% 7%; }
    h4 {
        margin-top: 20px;
    }
    h4,
    .about-content {
        h5 {
            margin-top: 20px;
            opacity: 0.7;
            word-wrap: break-word;
                @include breakpoint(767) {
                    margin-top: 10px;
                }
            }
    }
    .socials {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        a {
            height: 20px;
            width:60px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            border-right: 1px solid #5c5c5c;
            &:nth-of-type(1) { background-image: url("../images/icons/facebook.svg");}
            &:nth-of-type(2) { background-image: url("../images/icons/google-plus.svg");}
            &:nth-of-type(3) { background-image: url("../images/icons/twitter.svg");}
            &:nth-of-type(4) { background-image: url("../images/icons/linkedin.svg");}
            &:nth-of-type(5) { background-image: url("../images/icons/whatsapp.svg"); border: none;}
        }
    }
}

//Team Section
.team {
    padding: 5% 20%;
    @include breakpoint(1200) { padding: 5% 15%; }
    @include breakpoint(1020) { padding: 5% 10%; }
    @include breakpoint(768) { padding: 5%; }
    .team-people {
        flex-wrap: wrap;
        position: relative;
        .person {
            width: 24%;
            margin-top: 40px;
            position: unset;
            cursor: pointer;
            &:hover {
                &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) { .content {top: 50% }}
                &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) { .content {top: 100%}}
                .content {
                    display: block;
                    z-index: 2000;
                    transition: all 300ms ease-in-out;
                }
                img {
                    filter: none;
                }
                .name {
                    background-color: #1d9cdf;
                    color: white;
                    margin: 0;
                    padding: 5px 15px;
                    position: absolute;
                    @include breakpoint(768) {
                        padding: 4px 10px;
                    }
                }
            }
            img {
                filter: grayscale(1);
                transition: 300ms ease-in-out;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                @include breakpoint(900) { width: 80%;}
            }
            .content {
                position: absolute;
                padding: 5%;
                display: none;
                z-index: 1000;
                left: 50%;
                transition: all 300ms ease-in-out;
                transform: translateX(-50%);
                width: 100%;
                background-color: white;
                border: 1px solid rgb(141, 141, 141);
                h4 {
                    color: #1d9cdf;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

//MOnkey Banner Section
.monkey-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/monkey.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5%;
    h1:nth-of-type(1) {
        @include breakpoint(375) { font-size: 18px;}
    }
    h1:nth-of-type(2) {
        color: white;
        @include breakpoint(600) { font-size: 25px;}
        @include breakpoint(480) { font-size: 22px;}
        @include breakpoint(420) { font-size: 16px;}
        @include breakpoint(375) { font-size: 12px;}
    }
    img {
        display: none;
        width: 100%;
    }
}

//clients Section
.clients {
    padding: 5% 10%;
    background-color: #f6f6f6;
    @include breakpoint(1200) {
        padding: 5%;
    }
    .views {
        color: #5f5f5f;
        border-top: 1px solid black;
        padding-top: 40px;
    }
    .client-swiper {
        width: 100%;
        padding: 40px 0px;
        margin-top: 20px;
        .swiper-slide {
            img {
                position: relative;
                width: 60%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            height: 30px;
            width: 30px;
            background-color: white;
            border-radius: 100%;
            &:after {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
    .client-view-swiper {
        width: 100%;
        margin-top: 10px;
        .client-slide {
            justify-content: center;
            .profile {
                margin-right: 15px;
                height: 80px;
                width: 80px;
                border-radius: 100%;
                background-color: grey;
            }
            h4 { width: 80%}
        }
    }
    h4 {
        color: #636669;
        span {
            color: #f41824;
        }
    }
}

//Contact Section
.contact {
    padding: 5% 10%;
    @include breakpoint(1200) {
        padding: 5%;
    }
    a {
        margin: 0;
        color: #1d9cdf;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            width: 70%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            @include breakpoint(480) {
                width: 90%;
            }
            input {
                border: none;
                border-bottom: 1px solid #1d9cdf;
                width: 92%;
            }
            label {
                margin: 0;
            }
        }
        button {
            margin-top: 20px;
            border: 1px solid #1d9cdf;
            border-radius: 50px;
            padding: 5px 30px;
            color: #1d9cdf;
            background-color: transparent;
            position: relative;
            z-index: 2;
            transition: all 0.3s;
            &:hover {
                color: white;
            }
            &:hover::before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                border-radius: 50px;
                background-color: #1d9cdf;
                animation-name: slideInFromLeft;
                animation-duration: 1s;
                scale: 1.3;
                transition: 100ms ease-out;
                z-index: -1;
            }
        }
    }
}

//Social Section
.social {
    padding: 5% 10%;
    background-color: #f6f6f6;
    @include breakpoint(1200) {
        padding: 5%;
    }
}

//footer section
footer {
    background-color: #5c5c5c;
    padding: 5% 10%;
    @include breakpoint(1200) {
        padding: 5%;
    }
    .blue {
        color: #1d9cdf;
    }
    span {
        font-size: 13px;
    }
    .address,
    .follow {
        word-wrap: break-word;
        flex-direction: column;
        justify-content: space-between;
        .blue {
            color: #1d9cdf;
        }
        span {
            color: white;
        }
        @include breakpoint(768) {
            margin-top: 20px;
        }
        input {
            border-radius: 50px;
            padding: 5px;
            border-color: transparent;
        }
        input[type="text"] {
            text-align: right;
        }
        .socials {
            display: flex;
            justify-content: flex-start;
            margin-top: 5px;
            a {
                height: 15px;
                width:40px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                border-right: 1px solid white;
                &:nth-of-type(1) { background-image: url("../images/icons/facebook-w.svg");}
                &:nth-of-type(2) { background-image: url("../images/icons/google-plus-w.svg");}
                &:nth-of-type(3) { background-image: url("../images/icons/twitter-w.svg");}
                &:nth-of-type(4) { background-image: url("../images/icons/linkedin-w.svg");}
                &:nth-of-type(5) { background-image: url("../images/icons/whatsapp-w.svg"); border: none;}
            }
        }
    }
    .site-map {
        @include breakpoint(768) {
            margin-top: 20px;
        }
        ul {
            list-style: none;
            padding: 0px;
            color: white;
        }
    }
}
