<section class="brand-logos right-brand animate__animated animate__fadeIn"><img class=""
        src="images/product_logos/events/360 X 720_E&E_1.jpg"></section>
<section class="brand-logos right-brand animate__animated animate__fadeIn"><img class=""
        src="images/product_logos/events/360 X360_E&E_1.jpg"></section>
<section class="brand-logos right-brand animate__animated animate__fadeIn"><img class=""
        src="images/product_logos/events/360 X360_E&E_2.jpg"></section>
<section class="brand-logos right-brand animate__animated animate__fadeIn"><img class=""
        src="images/product_logos/events/360 X 720_E&E_2.jpg"></section>
<section class="brand-logos right-brand animate__animated animate__fadeIn"><img class=""
        src="images/product_logos/events/360 X360_E&E_3.jpg"></section>