<section class="brand-logos identity-section animate__animated animate__fadeIn"><img class=""
                src="images/product_logos/brand_identity/CM_Logo-1.jpg"></section>
<section class="brand-logos identity-section animate__animated animate__fadeIn"><img class=""
                src="images/product_logos/brand_identity/YG_Logo-2.jpg"></section>
<section class="brand-logos identity-section animate__animated animate__fadeIn"><img class=""
                src="images/product_logos/brand_identity/GE_Logo-2.jpg"></section>
<section class="brand-logos identity-section animate__animated animate__fadeIn"><img class=""
                src="images/product_logos/brand_identity/DT_Logo-2.jpg"></section>
<section class="brand-logos identity-section animate__animated animate__fadeIn"><img class=""
                src="images/product_logos/brand_identity/Alt_Logo-2.jpg"></section>
<section class="brand-logos identity-section animate__animated animate__fadeIn"><img class=""
                src="images/product_logos/brand_identity/SL_Logo-2.jpg"></section>
<section class="brand-logos identity-section animate__animated animate__fadeIn">
        <div class="left overflow"><img src="images/product_logos/brand_identity/INR_Logo-2.jpg"><img
                        src="images/product_logos/brand_identity/SS_Logo-2.jpg"></div>
        <div class="right overflow"><img src="images/product_logos/brand_identity/DR_Logo-2.jpg"></div>
</section>